@import url('http://fonts.googleapis.com/css?family=Clicker+Script');

.panel.panel-summer {
       background: url("featured_summer_background.jpg") no-repeat scroll 0 0 / 100% auto #edccb6;
    border-color: #2299ff;
    padding: 1.7em 2em;
    position: relative;
	
}
.panel.panel-summer p { 
       color: #566e88;
    margin-bottom: 0px;
    margin-top: 24px;
    padding: 0 25px;
	font-size: 18px;
}

.panel.panel-summer p span {
	font-family: 'Fredericka the Great', cursive;
	font-size: 24px;
	color: #1b86d6;
}

.panel.panel-summer p a {
	font-family: 'Fredericka the Great', cursive;
	font-size: 24px;
	color: #1b86d6;
	text-decoration:none;	
}

.panel.panel-summer p a:hover {
	color: #566e88;	
}

.panel.panel-summer .arrow {
    margin-top: 11px;
}

.panel.panel-summer p.inner {
       margin-top: 0;
       margin-bottom:10px;
       line-height: 1.2;
}
.panel.panel-summer p b {
       font-family: 'Clicker Script', cursive;
       color: #db6c12;
       font-size:33px;
       font-weight:normal;
       line-height: 1;
}

.panel.panel-summer p b.top{
       font-size:64px;
}

.panel.panel-summer p b.more {
    float: right;
    margin-bottom: 12px;
}

.panel.panel-summer figure img {
    max-height: 280px;
}

/*------ custom styles for summer series inner pages--------------*/
.refresh_summer .format_text h3, .refresh_summer .format_text.entry-content p span {
	font-family: 'Fredericka the Great', cursive;
	color: #1b86d6;
	font-size: 26px;	
}

.refresh_summer .format_text h4 a, .refresh_summer .format_text h2, .refresh_summer .previous-post a, .refresh_summer .next-post a, .refresh_summer .all-posts a {
	color: #566e88;	
}

.refresh_summer .format_text h2 {
	font-weight: normal;	
}

.refresh_summer .format_text h4 {
	border-bottom: 1px solid #566e88;
}

.refresh_summer .read-more a {
  display: inline-block;
  background-color: #123f7b !important;
  margin: 0 auto;
  padding: 2px 10px;
  border: 1px solid #769cd8;
  color: #e9cc96;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 0 2px #4d80cd, 1px 1px 2px 2px rgba(0,0,0,.25);
}

.refresh_summer .read-more a:hover {
	color: #ffffff;
	background-color: #A15928;	
}

.refresh_summer .read-more a::after {
	content: url(../../../../../uploads/2015/05/read-more-right.png);
	padding-left: 10px;	
}

.refresh_summer .read-more a::before {
	content:url(../../../../../uploads/2015/05/read-more-left.png);
	padding-right: 10px;
}

.refresh_summer .related-posts h3 {
	color: #7D7556;
	font-family: 'Gentium Basic', serif;
	font-size: 1.8em;
}

.refresh_summer .format_text h2 a {
	color: #1b86d6;
	text-decoration: none;
}

.refresh_summer .format_text h2 a:hover {
	text-decoration: underline;
}

.refresh_summer .related-posts h4 {
	  font-size: 1.2em;
  font-weight: normal;
  margin: .75em 0;
  padding-bottom: .25em;
  border-bottom: 1px solid #A15928;
}

.refresh_summer .related-posts h4 a {
	text-decoration: none;
	color: #A15928;
}

.refresh_summer .format_text.entry-content p:first-of-type { 
	margin: 0px !important; 
}

/* post page styling*/

.refresh_summer .panel figure img {
	width: 195px;
	height: 195px;	
}

.refresh_summer .panel {
	border-top: none;
	border-bottom: none;
  padding: 4em 3em 2em;
  margin:0px;
  background-image: url(../../../../../uploads/2015/05/post-page-swatch-panel.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
	background-color: #fee6d6;	
}

.refresh_summer .panel p {
	color: #566e88;
	padding: 20px 0px;
	font-size: 18px;
}

.refresh_summer .panel figure {
	  margin: 0 70px 0 0 !important;	
}

.refresh_summer .format_text h5 {
	color: #1b86d6;
}

.refresh_summer .panel.series-navigation {
	background: url("featured_summer_background.jpg") no-repeat scroll 0 0 / 100% auto #edccb6;
	border-color: #2299ff;
	padding: 1.7em 2em;
	border-top: 1px solid #2299ff;
	border-bottom: 2px solid #2299ff;
}

.refresh_summer .panel.series-navigation p {
	color: #566e88;
	padding: 60px 80px;
	font-size: 18px;
}

.refresh_summer .panel.series-navigation p span, .refresh_summer .panel p span {
	font-family: 'Fredericka the Great', cursive;
	font-size: 24px;
	color: #1b86d6;
}

.refresh_summer div.sharedaddy h3.sd-title {
    color: #7D7556;
	font-family: 'Gentium Basic', serif;	
}